<div class="photo">
<%= cl_image_tag developer.photo.key, height: 50, width: 50, crop: :fill %>
</div>
<div class="textinfos">
<h3><%= developer.last_name %> <%= developer.first_name %></h3>
<%= developer.work_zone %>
<br>
<%= developer.prog_langage %>
<br>
<%= developer.price_day %>
</div>
