<%= image_tag "boby.png", width: 50, height: 50 %>
<h2><%= developer.first_name %></h2>
<h3><%= developer.last_name %></h3>
<p><%= developer.work_zone %></p>
<p><%= developer.prog_langage %></p>
<p><%= developer.price_day %></p>
